body {
    font: 16px/28px "Microsoft yahei";
}
h1 {
    font-weight: 400;
    text-align: center;
}
.gray {
    font-size: 12px;
    text-align: center;
    color: #888888;
}
a {
    text-decoration: none;
}
.search {
    color: #666666;
    width: 170px;
}
.btn {
    font-weight: 700;
}
p {
    text-indent: 2em;
}
.end {
    font-size: 12px;
    color: #888888;
}
.img {
    text-align: center;
}